body {
    background-color: #f0f0f2;
}
h1 {
    position: absolute;
    left: 15%;
}
h2 {
    color: darkolivegreen;
}
#box {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 80px;
    margin-bottom: 80px;
    max-width: 900px;
}
#hint {
    max-width: 680px;
    font-size: 12px;
    color: #2b542c;
}
#uniprotIntro {
    border-radius: 10px;
    background-color: white;
    width: 600px;
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
    font-family: Roboto-mono, Open-Sans, Helvetica, Arial, sans-serif;
}
table {
    border-collapse: collapse;
    position: relative;
    top: 10px;
    empty-cells: hide;
}
th {
    height: 30px;
    background-color: #2b669a;
    color: whitesmoke;
}
th, td {
    padding: 10px;
    max-width: 200px;
}
table, th, td {
    border: 1px solid black;
}
tr:hover {
    background-color: wheat;
}
.folded {
    display: none;
}
a {
    color: blue;
    cursor: pointer;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    background-color: cyan;
}

a:hover {
    text-decoration: underline;
    background-color: lightgreen;
}

a:active {
    text-decoration: underline;
}
input {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 30px;
    font-size: 14pt;
    padding-left: 10px;
}
input:focus {
    background-color: lightcyan;
    border: 2px solid yellowgreen;
}
button {
    height: 30px;
    border-radius: 2px;
    font-size: 14pt;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}